body {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .container {
        height: 100vh;
        width: 100vw;
        
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 150px auto 100px;
    }
    
    .header {
        height: 150px;
        width: 100%;

        grid-column: 1 / 2;
        grid-row: 1 / 2;


        display: grid;
        grid-template-columns: 0.15fr 0.85fr;
        grid-template-rows: 100%;

        background-color: orange;
        z-index: 1;
        position: fixed;

        border-bottom-style: solid;
        border-bottom-width: 2.3px;
        border-bottom-color: gray;
    }
 
    .nav-mobiles {
        grid-column: 1 / 2;
        grid-row: 1 / 2;

        height: 100%;
        width: 100%;

        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .h1-header {

        color: white;
        font-size: 60px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        text-align: center;
        letter-spacing: -3px;
        word-spacing: -3px;

        position: relative;
        right: 9%;
    }

    .h1-div {
        grid-column: 2 / 3;
        grid-row: 1 / 2;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon {
        cursor: pointer;
        transition: transform 0.3s;

        color: white;

        height: 25px;
        width: 25px;
    }

    .rotate-90 {
        transform: rotate(90deg);
    }

    .nav {
        display: none;
    }
    
    .aside {
        display: none;
    }
    
    .main {
        height: 100%;
        grid-column: 1 / 2;
        grid-row: 2 / 3;

        padding: 15px;
        box-sizing: border-box;

        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: justify;
    }

    .article {
        padding-right: 15px;
    }

    .article h1 {
        font-size: 30px;
        text-align: center;
        color: rgb(210, 136, 0);
    }

    .article p {
        color: orange;
    }

    .article h2, h3, li {
        color: gray;
    }
    
    .footer {
        height: 100px;
        grid-column: 1 / 2;
        grid-row: 3 / 4;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: gray;
        
        color: white;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 100;
    }
}
